:root {
    --background-color: #FFFFFF;
    --primary-color: #0A65FF;
    --positive-color: #008400;
    --negative-color: #E01A1A;
    --warning-color: #BA5300;
    --info-color: #0276BA;
    --input-color: #DAE1EC;
    --selected-color: #EBF2FF;
    --stripes-color: #F4F7FC;
    --text-primary-color: #2E3B52;
    --text-secondary-color: #606F89;
    --icon-stroke-stripes-color: #7D90B2;
    --icon-stroke-background-color: #D1D9E6;
    --header-color:#F4F7FC;
    --border-radius: 6px;
} 

html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: var(--text-primary-color);
    background-color: var(--background-color);
}
*, *::before, *::after {
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color:var(--header-color);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.header__link {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.header__logo {
    width: 50px;
    height: 50px;
}
.header__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
